apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: provider-service
  name: provider-service
spec:
  replicas: 1
  selector:
    matchLabels:
      service: provider-service
  template:
    metadata:
      labels:
        service: provider-service
    spec:
      containers:
        - image: provider_service
          name: provider-service
          env:
          - name: NATS_URL
            value: {{ NATS_ADDRESS }}
          - name: NATS_CLIENT_ID
            value: provider-client
          - name: NATS_QGROUP
            value: provider-queue
          - name: NATS_DURABLE_NAME
            value: provider-durable-group
      restartPolicy: Always
status: {}
