{% for user in KEYCLOAK_USERS %}
var newuser="{{ user.username }}";
var c = db.users.find({ _id: newuser });
var email = newuser+"@cyverse.org";
if(c.size() == 0) {
        print( "creating "+newuser);
        db.users.insertOne({_id: newuser,
            first_name: newuser,
            last_name: "unknown",
            primary_email: email,
            is_admin: {{ user.admin|lower }},
            disabled_at: ISODate("0001-01-01T00:00:00.000Z"),
            created_at: ISODate("2021-06-05T06:56:28.360Z"),
            updated_at: ISODate("2021-06-05T06:56:28.360Z"),
            updated_by: "RESERVED_CACAO_SYSTEM_ACTOR",
            updated_emulator_by: ''
       });
}

{% endfor %}

var c = db.users.find().toArray();