apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cacao-api-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  tls:
   - hosts:
     - '{{ API_DOMAIN }}'
     secretName: {{ TLS_SECRET_NAME }}
  rules:
   - host: '{{ API_DOMAIN }}'
     http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: api
            port:
              number: 8080
