apiVersion: v1
kind: Service
metadata:
  labels:
    service: vault
    app: vault
  name: vault
spec:
  ports:
  - port: 8200
    targetPort: 8200
  selector:
    service: vault
status:
  loadBalancer: {}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: vault
    app: vault
  name: vault
spec:
  replicas: 1
  selector:
    matchLabels:
      service: vault
      app: vault
  strategy: {}
  template:
    metadata:
      labels:
        service: vault
        app: vault
    spec:
      containers:
      - name: vault
        image: {{ VAULT_IMAGE }}
        args:
        - "server"
        - "-dev"
        ports:
        - containerPort: 8200
        securityContext:
          capabilities:
            add:
              - IPC_LOCK
        env:
        - name: VAULT_DEV_ROOT_TOKEN_ID
          value: {{ VAULT_TOKEN }}
        - name: VAULT_LOCAL_CONFIG
          value: |-
            {
              "storage": {
                "postgresql": {
                  "connection_url": "postgres://{{ VAULT_POSTGRES_CONFIG.username }}:{{ VAULT_POSTGRES_CONFIG.password }}@{{ VAULT_POSTGRES_CONFIG.host }}:{{ VAULT_POSTGRES_CONFIG.port }}/vault?sslmode={{ VAULT_POSTGRES_CONFIG.ssl_mode }}"
                }
              }
            }
        resources: {}
      restartPolicy: Always
